@*Плохая практика - во вьюхах оперировать сервисами, тянуть данные и т.л.
    но для примера пусть будет*@

@using WebStore.Interfaces.Services
@using WebStore.Services.DTO;
@inject IProductService ProductService


@{
    ViewData["Title"] = "Главная";

    var products = ProductService
        .GetProducts()
        .OrderBy(p => p.Order)
        .Take(9)
        .ToProductView();
}

<partial name="Partial/_Slider" />

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <partial name="Partial/_LeftSideBar" />
            </div>

            <div class="col-sm-9 padding-right">
                <partial name="Partial/_Products" model="products" />

                <partial name="Partial/_CategoryTabs" />

                <partial name="Partial/_RecommendedItems" />
            </div>
        </div>
    </div>
</section>
